.section-bestRecipes {
  background-color: $background-best-recipes;
  display: flex;
  flex-direction: column;

  &__message {
    display: flex;
    align-items: center;
    flex-direction: column;

    & > h2 {
      color: $dark-blue-text;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 1.6rem;
      }

      @include respond(tab-small) {
        font-size: 1.8rem;
      }

      @include respond(tab-port) {
        font-size: 2.8rem;
      }
    }

    & > span {
      color: rgb(170, 170, 170);
      text-align: center;
      font-size: 1.1rem;

      @include respond(phone) {
        font-size: 1.3rem;
      }

      @include respond(tab-small) {
        font-size: 1.5rem;
      }

      @include respond(tab-port) {
        font-size: 2rem;
      }
    }
  }

  &__recipes-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem;

    @include respond(tab-small) {
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @include respond(tab-port) {
      grid-gap: 3rem;
    }
  }
}
