.section-bestServices {
  display: flex;
  position: relative;
  overflow: hidden;

  &__illustration {
      position: relative;
      left: -25%;
      
      & > img {
        width: 100%;
      }
  }

  &__message {
    position: absolute;
    left: 71%;
    -webkit-transform: translate(-50%, 5%);
    -moz-transform: translate(-50%, 5%);
    -ms-transform: translate(-50%, 5%);
    -o-transform: translate(-50%, 5%);
    transform: translate(-50%, 5%);
    z-index: 1;

    & > h2 {
      margin-bottom: 1rem;
      color: $dark-blue-text;
    }

    & > span {
      color: rgb(134, 134, 134);

      &:not(:last-child) {
        display: inline-block;
        margin-bottom: 1rem;
        
      }
    }
  }
}
