.section-bestServices {
  display: flex;
  position: relative;
  overflow: hidden;

  &__illustration {
      position: relative;
      left: -22%;

      @include respond(phone){
        left: -20%;
      }

      @include respond(tab-small){
        left: -10%;
      }

      @include respond(tab-port){
        left: 0;
      }
      
      & > img {
        width: 100%;

        @include respond(tab-small){
          width: 80%;
        }

        @include respond(tab-port){
          width: 90%;
        }

        @include respond(tab-land){
          width: 100%;
        }
      }
  }

  &__message {
    position: absolute;
    left: 69%;
    -webkit-transform: translate(-50%, 5%);
    -moz-transform: translate(-50%, 5%);
    -ms-transform: translate(-50%, 5%);
    -o-transform: translate(-50%, 5%);
    transform: translate(-50%, 5%);
    z-index: 1;

    @include respond(phone){
      top: 2%;
    }

    @include respond(tab-small){
      top: 25%;
      left: 72%;
    }

    & > h2 {
      margin-bottom: 1rem;
      color: $dark-blue-text;
      font-size: 1.35rem;

      @include respond(phone){
        font-size: 1.5rem;
      }

      @include respond(tab-small){
        font-size: 2rem;
      }

      @include respond(tab-port){
        margin-bottom: 2rem;
        font-size: 3rem;
      }

      @include respond(tab-land){
        margin-bottom: 3rem;
        font-size: 4rem;
      }
    }

    & > span {
      color: rgb(150, 150, 150);
      font-size: 0.9rem;

      &:not(:last-child) {
        display: inline-block;
        margin-bottom: 1rem;

        @include respond(tab-port){
          margin-bottom: 1.5rem;
        }

        @include respond(tab-land){
          margin-bottom: 3rem;
        }
      }

      @include respond(phone){
        font-size: 1rem;
      }

      @include respond(tab-small){
        font-size: 1.5rem;
      }

      @include respond(tab-port){
        font-size: 2rem;
      }
    }
  }
}
