.section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @include respond(phone) {
    height: 62vh;
  }

  &__illustration {
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: flex-end;

    & > img {
      width: 110%;

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__container-form {
    margin-top: auto;

    &__form {
      &__title {
        color: #1d164d;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }

      &__container-text-button {
        display: flex;
        margin-top: 2rem;

        &__input {
          outline: none;
          border: 1px solid #1d164d;
          border-radius: 0.5rem;
          padding: 0.8rem;
          color: rgb(172, 172, 172);
        }

        &__button {
          margin-left: 1rem;
          background-color: #badc58;
          border-radius: 0.5rem;
          width: 3.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          & > svg {
            color: white;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
