.section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include respond(tab-port) {
    height: 100vh;
  }

  &__illustration {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & > img {
      width: 100%;

      @include respond(tab-small) {
        width: 70%;
      }

      @include respond(tab-port) {
        width: 65%;
      }

    }
  }

  &__container-form {
    margin-top: 70%;

    @include respond(tab-small) {
      margin-top: 20%;
    }

    @include respond(tab-port) {
      margin-top: 15%;
    }

    &__form {
      &__title {
        color: #1d164d;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.1rem;

        @include respond(tab-small) {
          font-size: 2.5rem;
        }

        @include respond(tab-port) {
          font-size: 5rem;
        }
      }

      &__container-text-button {
        display: flex;
        margin-top: 2rem;

        &__input {
          outline: none;
          border: 1px solid #1d164d;
          border-radius: 0.5rem;
          padding: 0.8rem;
          color: rgb(172, 172, 172);

          @include respond(tab-small) {
            padding: 1rem;
          }

          @include respond(tab-port) {
            padding: 1.2rem;
          }
        }

        &__button {
          margin-left: 1rem;
          background-color: #badc58;
          border-radius: 0.5rem;
          width: 3.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          & > svg {
            color: white;
            font-size: 1.5rem;

            @include respond(tab-small) {
              font-size: 2rem;
            }

            @include respond(tab-port) {
              font-size: 2.5rem;
            }
          }

          @include respond(tab-small) {
            width: 4rem;
          }

          @include respond(tab-port) {
            width: 5rem;
          }
        }
      }
    }
  }
}
