.section-membership {
  position: relative;
  overflow: hidden;

  &__illustration {
    position: relative;
    display: flex;
    justify-content: flex-end;

    & > img {
      width: 100%;

      @include respond(tab-small) {
        width: 70%;
      }

      @include respond(tab-port) {
        width: 60%;
      }

      @include respond(tab-land) {
        width: 50%;
      }
    }
  }

  &__form-container {
    @include respond(tab-small) {
      position: absolute;
      top: 50%;
    }

    @include respond(tab-port) {
      top: 40%;
    }

    @include respond(tab-land) {
      top: 30%;
    }

    &__form {
      &__title {
        color: #1d164d;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.1rem;

        @include respond(tab-small) {
          font-size: 2.5rem;
        }

        @include respond(tab-port) {
          font-size: 3.5rem;
        }

        @include respond(tab-land) {
          font-size: 4rem;
        }
      }

      &__container-text-button {
        display: flex;
        margin-top: 2rem;

        &__input {
          outline: none;
          border: 1px solid #1d164d;
          border-radius: 0.5rem;
          padding: 0.8rem;
          color: rgb(172, 172, 172);

          @include respond(tab-small) {
            padding: 1rem;
          }

          @include respond(tab-port) {
            padding: 1.2rem;
          }

          @include respond(tab-land) {
            padding: 1.4rem;
          }
        }

        &__button {
          margin-left: 1rem;
          background-color: #badc58;
          border-radius: 0.5rem;
          width: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: white;
          box-shadow: 0px 8px 22px 2px hsla(75, 65%, 60%, 0.3);

          @include respond(tab-small) {
            width: 6rem;
            font-size: 1.5rem;
          }

          @include respond(tab-port) {
            width: 7rem;
            font-size: 1.6rem;
          }

          @include respond(tab-land) {
            width: 8rem;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
