.section-membership {
  position: relative;
  overflow: hidden;
  height: 100vh;

  @include respond(phone) {
    height: 65vh;
  }


  &__illustration {
    position: relative;
    display: flex;
    justify-content: flex-end;
    
    & > img {
      width: 100%;

      @include respond(tab-small){
        width: 70%;
      }
    }
}

  &__form-container {

    @include respond(tab-small){
      position: absolute;
      top: 50%;
    }

    &__form {
  
      &__title {
        color: #1d164d;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
  
      &__container-text-button{
        display: flex;
        margin-top: 2rem;
  
        &__input{
          outline: none;
          border: 1px solid #1d164d;
          border-radius: 0.5rem;
          padding: 0.8rem;
          color: rgb(172, 172, 172);
        }
  
        &__button{
          margin-left: 1rem;
          background-color: #BADC58;
          border-radius: 0.5rem;
          width: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
  
}
