@import "./mixins/mixins";
@import "./base/base";
@import "./abstracts/variables";

@import "./layout/grid";

// SECTIONS
@import "./sections/home";
@import "./sections/bestRecipes";
@import "./sections/bestServices";

// COMPONENTS
@import "./components/header";
@import "./components/bestRecipe";

// CONTAINERS
@import "./containers/containerData.scss";