.container-form {
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    & > label {
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #1d164d;

      @include respond(tab-small) {
        font-size: 1.1rem;
      }

      @include respond(tab-port) {
        font-size: 1.4rem;
      }

      @include respond(tab-land) {
        font-size: 1.5rem;
      }
    }

    & > input {
      border-radius: 1rem;
      outline: none;
      border: 1px solid #1d164d;
      padding: 0.2rem 0.8rem;

      @include respond(tab-small) {
        font-size: 1.4rem;
      }

      @include respond(tab-port) {
        font-size: 1.6rem;
      }

      @include respond(tab-land) {
        font-size: 1.65rem;
        padding: 0.4rem 0.8rem;
      }
    }
    
    &__container-msg {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      color: #eb1010;
      @include respond(tab-small) {
        font-size: 1.2rem;
      }
      @include respond(tab-port) {
        font-size: 1.25rem;
      }
    }
  }

  &__button {
    outline: none;
    border: 1px solid ghostwhite;
    background-color: white;
    border-radius: 1rem;
    color: white;
    letter-spacing: 0.1rem;
    transition: 1ms;
    background-color: rgb(212, 212, 212);
    padding: 0.75rem 0.4rem;
    font-size: 1.05rem;
    width: 7rem;

    @include respond(tab-small) {
      font-size: 1.2rem;
    }

    @include respond(tab-port) {
      width: 8rem;
      font-size: 1.4rem;
      padding: 0.8rem 0.5rem;
    }

    @include respond(tab-land) {
      width: 10rem;
      font-size: 1.5rem;
    }
  }

  &__button-go {
    cursor: pointer;
    box-shadow: inset 14rem 0 0 rgb(140, 201, 17);
  }
}
