*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 62em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 56em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.section-home {
  display: flex;
  padding: 2rem 1rem; }

.section-home {
  position: relative;
  display: grid;
  background-color: aqua;
  height: 100vh; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem; }
  .header__logo {
    max-width: 30%; }
    .header__logo > a {
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      color: #BADC58;
      text-decoration: none; }
  .header__options {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__options > a {
      border-radius: 0.3rem;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 0.8rem 0.5rem;
      letter-spacing: 0.1rem; }
      .header__options > a:last-child {
        color: #BADC58;
        background-color: white; }
