*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif; }
  @media (min-width: 62em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 56em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.section-home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 56em) {
    .section-home {
      height: 100vh; } }
  .section-home__illustration {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .section-home__illustration > img {
      width: 100%; }
      @media (min-width: 34.5em) {
        .section-home__illustration > img {
          width: 70%; } }
      @media (min-width: 56em) {
        .section-home__illustration > img {
          width: 65%; } }
  .section-home__container-form {
    margin-top: 70%; }
    @media (min-width: 34.5em) {
      .section-home__container-form {
        margin-top: 20%; } }
    @media (min-width: 56em) {
      .section-home__container-form {
        margin-top: 15%; } }
    .section-home__container-form__form__title {
      color: #1d164d;
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: 0.1rem; }
      @media (min-width: 34.5em) {
        .section-home__container-form__form__title {
          font-size: 2.5rem; } }
      @media (min-width: 56em) {
        .section-home__container-form__form__title {
          font-size: 5rem; } }
    .section-home__container-form__form__container-text-button {
      display: flex;
      margin-top: 2rem; }
      .section-home__container-form__form__container-text-button__input {
        outline: none;
        border: 1px solid #1d164d;
        border-radius: 0.5rem;
        padding: 0.8rem;
        color: #acacac; }
        @media (min-width: 34.5em) {
          .section-home__container-form__form__container-text-button__input {
            padding: 1rem; } }
        @media (min-width: 56em) {
          .section-home__container-form__form__container-text-button__input {
            padding: 1.2rem; } }
      .section-home__container-form__form__container-text-button__button {
        margin-left: 1rem;
        background-color: #badc58;
        border-radius: 0.5rem;
        width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .section-home__container-form__form__container-text-button__button > svg {
          color: white;
          font-size: 1.5rem; }
          @media (min-width: 34.5em) {
            .section-home__container-form__form__container-text-button__button > svg {
              font-size: 2rem; } }
          @media (min-width: 56em) {
            .section-home__container-form__form__container-text-button__button > svg {
              font-size: 2.5rem; } }
        @media (min-width: 34.5em) {
          .section-home__container-form__form__container-text-button__button {
            width: 4rem; } }
        @media (min-width: 56em) {
          .section-home__container-form__form__container-text-button__button {
            width: 5rem; } }

.section-bestRecipes {
  background-color: #FAFAFC;
  display: flex;
  flex-direction: column; }
  .section-bestRecipes__message {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .section-bestRecipes__message > h2 {
      color: #1D1B59;
      margin-bottom: 1rem; }
      @media (min-width: 23.43em) {
        .section-bestRecipes__message > h2 {
          font-size: 1.6rem; } }
      @media (min-width: 34.5em) {
        .section-bestRecipes__message > h2 {
          font-size: 1.8rem; } }
      @media (min-width: 56em) {
        .section-bestRecipes__message > h2 {
          font-size: 2.8rem; } }
    .section-bestRecipes__message > span {
      color: #aaaaaa;
      text-align: center;
      font-size: 1.1rem; }
      @media (min-width: 23.43em) {
        .section-bestRecipes__message > span {
          font-size: 1.3rem; } }
      @media (min-width: 34.5em) {
        .section-bestRecipes__message > span {
          font-size: 1.5rem; } }
      @media (min-width: 56em) {
        .section-bestRecipes__message > span {
          font-size: 2rem; } }
  .section-bestRecipes__recipes-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.5rem; }
    @media (min-width: 34.5em) {
      .section-bestRecipes__recipes-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem; } }
    @media (min-width: 56em) {
      .section-bestRecipes__recipes-container {
        grid-gap: 3rem; } }

.section-bestServices {
  display: flex;
  position: relative;
  overflow: hidden; }
  .section-bestServices__illustration {
    position: relative;
    left: -22%; }
    @media (min-width: 23.43em) {
      .section-bestServices__illustration {
        left: -20%; } }
    @media (min-width: 34.5em) {
      .section-bestServices__illustration {
        left: -10%; } }
    @media (min-width: 56em) {
      .section-bestServices__illustration {
        left: 0; } }
    .section-bestServices__illustration > img {
      width: 100%; }
      @media (min-width: 34.5em) {
        .section-bestServices__illustration > img {
          width: 80%; } }
      @media (min-width: 56em) {
        .section-bestServices__illustration > img {
          width: 90%; } }
  .section-bestServices__message {
    position: absolute;
    left: 70%;
    -webkit-transform: translate(-50%, 5%);
    -moz-transform: translate(-50%, 5%);
    -ms-transform: translate(-50%, 5%);
    -o-transform: translate(-50%, 5%);
    transform: translate(-50%, 5%);
    z-index: 1; }
    @media (min-width: 23.43em) {
      .section-bestServices__message {
        top: 6%; } }
    @media (min-width: 34.5em) {
      .section-bestServices__message {
        top: 25%;
        left: 72%; } }
    .section-bestServices__message > h2 {
      margin-bottom: 1rem;
      color: #1D1B59; }
      @media (min-width: 23.43em) {
        .section-bestServices__message > h2 {
          font-size: 1.7rem; } }
      @media (min-width: 34.5em) {
        .section-bestServices__message > h2 {
          font-size: 2rem; } }
      @media (min-width: 56em) {
        .section-bestServices__message > h2 {
          margin-bottom: 2rem;
          font-size: 3rem; } }
    .section-bestServices__message > span {
      color: #868686; }
      .section-bestServices__message > span:not(:last-child) {
        display: inline-block;
        margin-bottom: 1rem; }
        @media (min-width: 56em) {
          .section-bestServices__message > span:not(:last-child) {
            margin-bottom: 1.5rem; } }
      @media (min-width: 23.43em) {
        .section-bestServices__message > span {
          font-size: 1.1rem; } }
      @media (min-width: 34.5em) {
        .section-bestServices__message > span {
          font-size: 1.5rem; } }
      @media (min-width: 56em) {
        .section-bestServices__message > span {
          font-size: 2rem; } }

.section-blog {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFC;
  overflow-x: auto;
  position: relative;
  box-shadow: inset -50px 1px 50px -30px rgba(180, 180, 180, 0.28); }
  .section-blog__message {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .section-blog__message > h2 {
      color: #1D1B59;
      margin-bottom: 1rem; }
      @media (min-width: 23.43em) {
        .section-blog__message > h2 {
          font-size: 1.6rem; } }
      @media (min-width: 34.5em) {
        .section-blog__message > h2 {
          font-size: 1.8rem; } }
      @media (min-width: 56em) {
        .section-blog__message > h2 {
          font-size: 3rem; } }
    .section-blog__message > span {
      color: #aaaaaa;
      text-align: center;
      font-size: 1.1rem; }
      @media (min-width: 23.43em) {
        .section-blog__message > span {
          font-size: 1.3rem; } }
      @media (min-width: 34.5em) {
        .section-blog__message > span {
          padding: 0 3rem;
          font-size: 1.5rem; } }
      @media (min-width: 56em) {
        .section-blog__message > span {
          font-size: 2rem; } }
  .section-blog__posts-container {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    scroll-behavior: smooth; }
    .section-blog__posts-container::-webkit-scrollbar {
      display: none; }

.section-membership {
  position: relative;
  overflow: hidden; }
  .section-membership__illustration {
    position: relative;
    display: flex;
    justify-content: flex-end; }
    .section-membership__illustration > img {
      width: 100%; }
      @media (min-width: 34.5em) {
        .section-membership__illustration > img {
          width: 70%; } }
      @media (min-width: 56em) {
        .section-membership__illustration > img {
          width: 60%; } }
  @media (min-width: 34.5em) {
    .section-membership__form-container {
      position: absolute;
      top: 50%; } }
  @media (min-width: 56em) {
    .section-membership__form-container {
      top: 40%; } }
  .section-membership__form-container__form__title {
    color: #1d164d;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 34.5em) {
      .section-membership__form-container__form__title {
        font-size: 2.5rem; } }
    @media (min-width: 56em) {
      .section-membership__form-container__form__title {
        font-size: 3.5rem; } }
  .section-membership__form-container__form__container-text-button {
    display: flex;
    margin-top: 2rem; }
    .section-membership__form-container__form__container-text-button__input {
      outline: none;
      border: 1px solid #1d164d;
      border-radius: 0.5rem;
      padding: 0.8rem;
      color: #acacac; }
      @media (min-width: 34.5em) {
        .section-membership__form-container__form__container-text-button__input {
          padding: 1rem; } }
      @media (min-width: 56em) {
        .section-membership__form-container__form__container-text-button__input {
          padding: 1.2rem; } }
    .section-membership__form-container__form__container-text-button__button {
      margin-left: 1rem;
      background-color: #badc58;
      border-radius: 0.5rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white; }
      @media (min-width: 34.5em) {
        .section-membership__form-container__form__container-text-button__button {
          width: 5rem;
          font-size: 1.5rem; } }
      @media (min-width: 56em) {
        .section-membership__form-container__form__container-text-button__button {
          width: 5.5rem;
          font-size: 1.8rem; } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem; }
  @media (min-width: 34.5em) {
    .header {
      height: 3rem;
      justify-content: space-between; } }
  @media (min-width: 56em) {
    .header {
      height: 4rem; } }
  .header__logo {
    max-width: 30%; }
    .header__logo > a {
      text-align: center;
      font-size: 1.3rem;
      font-weight: bold;
      color: #BADC58;
      text-decoration: none;
      letter-spacing: 0.1rem; }
      @media (min-width: 23.43em) {
        .header__logo > a {
          font-size: 1.4rem; } }
      @media (min-width: 34.5em) {
        .header__logo > a {
          font-size: 1.6rem; } }
      @media (min-width: 56em) {
        .header__logo > a {
          font-size: 3rem; } }
  .header__options {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__options > a {
      border-radius: 0.5rem;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 0.8rem 0.5rem;
      letter-spacing: 0.1rem; }
      @media (min-width: 23.43em) {
        .header__options > a {
          font-size: 1.05rem; } }
      @media (min-width: 34.5em) {
        .header__options > a {
          font-size: 1.2rem; } }
      @media (min-width: 56em) {
        .header__options > a {
          font-size: 1.8rem;
          padding: 1.5rem 1.25rem; }
          .header__options > a:not(:last-child) {
            margin-right: 0.5rem; } }
      .header__options > a:last-child {
        color: #BADC58;
        background-color: white; }

.best-recipe-container {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 9px 9px 13px -4px rgba(204, 204, 204, 0.61); }
  .best-recipe-container__img {
    width: 10rem; }
    @media (min-width: 23.43em) {
      .best-recipe-container__img {
        width: 11rem; } }
    @media (min-width: 34.5em) {
      .best-recipe-container__img {
        width: 13rem; } }
    @media (min-width: 56em) {
      .best-recipe-container__img {
        width: 20rem; } }
  .best-recipe-container__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 2rem; }
    .best-recipe-container__title-container__title {
      color: #1D1B59;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem; }
      @media (min-width: 23.43em) {
        .best-recipe-container__title-container__title {
          font-size: 1.55rem; } }
      @media (min-width: 34.5em) {
        .best-recipe-container__title-container__title {
          font-size: 1.7rem; } }
      @media (min-width: 56em) {
        .best-recipe-container__title-container__title {
          font-size: 2.4rem;
          margin-bottom: 2rem; } }
    .best-recipe-container__title-container__input {
      width: 7rem;
      border-radius: 0.5rem;
      background-color: #BDD959;
      color: white;
      padding: 0.8rem;
      cursor: pointer; }
      @media (min-width: 23.43em) {
        .best-recipe-container__title-container__input {
          font-size: 1.1rem; } }
      @media (min-width: 34.5em) {
        .best-recipe-container__title-container__input {
          width: 8rem;
          font-size: 1.2rem; } }
      @media (min-width: 56em) {
        .best-recipe-container__title-container__input {
          width: 10rem;
          font-size: 1.6rem; } }

.post-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 9px 9px 13px -4px rgba(204, 204, 204, 0.61);
  width: 16rem;
  flex: none; }
  @media (min-width: 23.43em) {
    .post-container {
      width: 17rem; } }
  @media (min-width: 34.5em) {
    .post-container {
      width: 19rem; } }
  @media (min-width: 56em) {
    .post-container {
      width: 28rem; } }
  .post-container:not(:last-child) {
    margin-right: 1rem; }
    @media (min-width: 34.5em) {
      .post-container:not(:last-child) {
        margin-right: 2rem; } }
    @media (min-width: 56em) {
      .post-container:not(:last-child) {
        margin-right: 3rem; } }
  .post-container__img {
    width: 100%; }
  .post-container__title-container {
    padding: 1rem; }
    @media (min-width: 56em) {
      .post-container__title-container {
        padding: 2rem; } }
    .post-container__title-container__title {
      color: #1d1b59;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem; }
      @media (min-width: 23.43em) {
        .post-container__title-container__title {
          font-size: 1.25rem; } }
      @media (min-width: 34.5em) {
        .post-container__title-container__title {
          font-size: 1.5rem; } }
      @media (min-width: 56em) {
        .post-container__title-container__title {
          margin-bottom: 2rem;
          font-size: 2rem; } }
    .post-container__title-container__author {
      display: flex;
      align-items: center; }
      .post-container__title-container__author__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bebebe;
        padding: 0.5rem;
        border-radius: 50%;
        margin-right: 0.5rem; }
        @media (min-width: 23.43em) {
          .post-container__title-container__author__photo {
            padding: 0.5rem;
            font-size: 1.2rem; } }
        @media (min-width: 34.5em) {
          .post-container__title-container__author__photo {
            padding: 0.8rem;
            font-size: 1.4rem; } }
        @media (min-width: 56em) {
          .post-container__title-container__author__photo {
            padding: 1rem;
            font-size: 1.8rem; } }
      .post-container__title-container__author__name {
        color: #a0a0a0; }
        @media (min-width: 23.43em) {
          .post-container__title-container__author__name {
            font-size: 1.1rem; } }
        @media (min-width: 34.5em) {
          .post-container__title-container__author__name {
            font-size: 1.3rem; } }
        @media (min-width: 56em) {
          .post-container__title-container__author__name {
            font-size: 1.8rem; } }

.container-arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -2%;
  top: 64%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer; }
  @media (min-width: 34.5em) {
    .container-arrow-right {
      right: 4%; } }
  @media (min-width: 56em) {
    .container-arrow-right {
      right: 0%;
      top: 66%; } }
  .container-arrow-right > svg {
    color: #afd133;
    font-size: 1.4rem; }
    @media (min-width: 56em) {
      .container-arrow-right > svg {
        font-size: 2rem; } }

.container-arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  top: 64%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer; }
  @media (min-width: 56em) {
    .container-arrow-left {
      left: 5%;
      top: 66%; } }
  .container-arrow-left > svg {
    color: #afd133;
    font-size: 1.4rem; }
    @media (min-width: 56em) {
      .container-arrow-left > svg {
        font-size: 2rem; } }

.footer {
  display: flex;
  padding: 2rem 2rem;
  background-color: white;
  margin-top: 3rem; }
  @media (min-width: 23.43em) {
    .footer {
      margin-top: 0rem; } }
  @media (min-width: 34.5em) {
    .footer {
      padding: 2.5rem 4rem; } }
  @media (min-width: 56em) {
    .footer {
      padding: 3rem 6rem; } }
  .footer__copyright {
    color: #1d164d;
    font-size: 0.9rem;
    margin-right: auto; }
    @media (min-width: 23.43em) {
      .footer__copyright {
        font-size: 1rem; } }
    @media (min-width: 34.5em) {
      .footer__copyright {
        font-size: 1.2rem; } }
    @media (min-width: 56em) {
      .footer__copyright {
        font-size: 1.5rem; } }
  .footer__links {
    display: flex;
    font-size: 0.85rem;
    color: #b3b3b3; }
    @media (min-width: 23.43em) {
      .footer__links {
        font-size: 0.9rem; } }
    @media (min-width: 34.5em) {
      .footer__links {
        font-size: 1.1rem; } }
    @media (min-width: 56em) {
      .footer__links {
        font-size: 1.4rem; } }
    .footer__links > span {
      margin-right: 0.5rem; }
      @media (min-width: 56em) {
        .footer__links > span {
          margin-right: 1rem; } }

.container {
  padding: 2rem 1rem;
  z-index: 1; }
  @media (min-width: 23.43em) {
    .container {
      padding: 2.5rem 1.5rem; } }
  @media (min-width: 34.5em) {
    .container {
      padding: 4rem 5rem; } }
  @media (min-width: 56em) {
    .container {
      padding: 5rem 10rem; } }
