.best-recipe-container {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 9px 9px 13px -4px rgba(204,204,204,0.61);

  &__img {
    width: 10rem;

    @include respond(phone){
      width: 11rem;
    }

    @include respond(tab-small){
      width: 13rem;
    }

    @include respond(tab-port){
      width: 20rem;
    }

    @include respond(tab-land){
      width: 25rem;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 2rem;

    @include respond(tab-land){
      padding: 0 3.5rem;
    }

    &__title {
      color: #1D1B59;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 1.55rem;
      }

      @include respond(tab-small) {
        font-size: 1.7rem;
      }

      @include respond(tab-port){
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }

      @include respond(tab-land){
        font-size: 2.8rem;
      }
    }

    &__input {
      width: 7rem;
      border-radius: 0.5rem;
      background-color: #BDD959;
      color: white;
      padding: 0.8rem;
      cursor: pointer;
      text-align: center;

      @include respond(phone){
        font-size: 1.1rem;
      }

      @include respond(tab-small){
        width: 8rem;
        font-size: 1.2rem;
      }

      @include respond(tab-port){
        width: 10rem;
        font-size: 1.6rem;
      }

      @include respond(tab-land){
        padding: 1.4rem;
        width: 14rem;
        font-size: 1.8rem;
      }
    }
  }
}
