.best-recipe-container {
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 9px 9px 13px -4px rgba(204,204,204,0.61);

  &__img {
    width: 10rem;

    @include respond(phone){
      width: 11rem;
    }
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 2rem;

    &__title {
      color: #1D1B59;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 1.55rem;
      }
    }

    &__input {
      width: 7rem;
      border-radius: 0.5rem;
      background-color: #BDD959;
      color: white;
      padding: 0.8rem;
      cursor: pointer;

      @include respond(phone){
        font-size: 1.1rem;
      }
    }
  }
}
