.footer {
  display: flex;
  padding: 2rem 2rem;
  background-color: white;
  margin-top: 3rem;

  &__copyright {
    color: #1d164d;
    font-size: 0.9rem;
    margin-right: auto;

    @include respond(phone) {
      font-size: 1rem;
    } 
  }

  &__links {
    display: flex;
    font-size: 0.85rem;
    color: #b3b3b3;

    @include respond(phone) {
      font-size: 0.9rem;
    } 
  }
}