.footer {
  display: flex;
  padding: 2rem 2rem;
  background-color: white;
  margin-top: 3rem;

  @include respond(phone) {
    margin-top: 0rem;
  }

  @include respond(tab-small) {
    padding: 2.5rem 4rem;
  }

  @include respond(tab-port) {
    padding: 3rem 6rem;
  }

  @include respond(tab-land) {
    padding: 4rem 7rem;
  }

  &__copyright {
    color: #1d164d;
    font-size: 0.9rem;
    margin-right: auto;

    @include respond(phone) {
      font-size: 1rem;
    }

    @include respond(tab-small) {
      font-size: 1.2rem;
    }

    @include respond(tab-port) {
      font-size: 1.5rem;
    }

    @include respond(tab-land) {
      font-size: 1.8rem;
    }
  }

  &__links {
    display: flex;
    font-size: 0.85rem;
    color: #aaaaaa;

    @include respond(phone) {
      font-size: 0.9rem;
    }

    @include respond(tab-small) {
      font-size: 1.1rem;
    }

    @include respond(tab-port) {
      font-size: 1.4rem;
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
    }

    & > span {
      margin-right: 0.5rem;

      @include respond(tab-port) {
        margin-right: 1rem;
      }

      @include respond(tab-land) {
        margin-right: 2rem;
      }
    }
  }
}