.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;

  @include respond(tab-small) {
    height: 3rem;
    justify-content: space-between;
  }

  @include respond(tab-port) {
    height: 4rem;
  }

  &__logo {
    max-width: 30%;
    text-align: center;

    & > a {
      font-size: 1.3rem;
      font-weight: bold;
      color: white;
      text-decoration: none;
      letter-spacing: 0.1rem;

      @include respond(phone) {
        font-size: 1.4rem;
      }

      @include respond(tab-small) {
        color: #BADC58;
        font-size: 1.6rem;
      }

      @include respond(tab-port) {
        font-size: 3rem;
      }

      @include respond(tab-land) {
        font-size: 4rem;
      }
    }
  } 

  &__options  {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & > a {
      border-radius: 0.5rem;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      color: white;
      display: inline-block;
      padding: 0.8rem 0.4rem;
      letter-spacing: 0.1rem;
      font-size: 0.9rem;

      @include respond(phone) {
        font-size: 1.05rem;
      }

      @include respond(tab-small) {
        font-size: 1.2rem;
      }
      
      @include respond(tab-port) {
        font-size: 1.8rem;
        padding: 1.5rem 1.25rem;

        &:not(:last-child){
          margin-right: 0.5rem;
        }
      }

      @include respond(tab-land) {
        font-size: 1.9rem;
        padding: 1.6rem 1.3rem;

        &:not(:last-child){
          margin-right: 0.8rem;
        }
      }

      &:last-child{
        color: #BADC58;
        background-color: white;
      }
    }
  }
}