.modal-overlay {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000000, 0.3);
  animation: onMount 1s ease;
  transition: all 1000ms;

  &__modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 1rem;
    width: 25rem;
    animation: onMount 1s ease;
    transition: all 1000ms;
    max-height: 32rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: gray;
    }

    @include respond(phone) {
      top: 40%;
      width: 28rem;
    }

    @include respond(tab-small) {
      top: 38%;
      width: 30rem;
    }

    @include respond(tab-port) {
      top: 38%;
      width: 40rem;
      padding: 1.5rem 2rem;
    }

    @include respond(tab-land) {
      width: 42rem;
      padding: 2rem 2.5rem;
    }

    &__modal-titulo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      color: #badc58;

      @include respond(tab-port) {
        font-size: 1.5rem;
      }

      @include respond(tab-land) {
        font-size: 1.75rem;
      }

      &__close-icon {
        transition: all 500ms;
        &:hover {
          color: #df0000;
          cursor: pointer;
        }
        & > svg {
          font-size: 1.8rem;

          @include respond(tab-port) {
            font-size: 2.5rem;
          }

          @include respond(tab-land) {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
